# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [103]:
import pandas as pd

#url1 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv' not needed, we have it cleaned
url2 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv'
url3 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv'

idat = pd.read_csv('/Users/maxsonntag/Documents/GitHub/lab-dw-data-cleaning-and-formatting/insurance_data')
idat2 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv')
idat3 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv')

idat2.columns = [col.lower().replace(' ', '_') for col in idat2.columns]
idat3.columns = [col.lower().replace(' ', '_') for col in idat3.columns]

idat2.rename(columns={'st': 'state'}, inplace = True)
idat3.rename(columns={'st': 'state'}, inplace = True)


idatcc = pd.concat([idat, idat2, idat3])

idatcc.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12074 entries, 0 to 7069
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   9137 non-null   object
 1   state                      9137 non-null   object
 2   gender                     9015 non-null   object
 3   education                  9137 non-null   object
 4   customer_lifetime_value    9130 non-null   object
 5   income                     9137 non-null   float64
 6   monthly_premium_auto       9137 non-null   float64
 7   number_of_open_complaints  9137 non-null   object
 8   policy_type                9137 non-null   object
 9   vehicle_class              9137 non-null   object
 10  total_claim_amount         9137 non-null   float64
dtypes: float64(3), object(8)
memory usage: 1.1+ MB

In [105]:
idatcc.state.value_counts() #49 AZ -> Arizona

idatcc.state.replace('AZ', 'Arizona', inplace = True)
idatcc.state.value_counts() #worked

idatcc.customer.value_counts() #some duplicates...

idatcc.gender.value_counts()
idatcc.gender.replace('female', 'F', inplace = True)
idatcc.gender.replace('Male', 'M', inplace = True)
idatcc.gender.value_counts()

idatcc.education.value_counts() #17 bachelors
idatcc.education.replace('Bachelors', 'Bachelor', inplace = True)
idatcc.education.value_counts()

idatcc.income.value_counts() #okay, >2000 0.0s

idatcc.monthly_premium_auto.value_counts()# ok

idatcc.number_of_open_complaints.value_counts() #need the strip or split function again
#idatcc.number_of_open_complaints = idatcc.number_of_open_complaints.str.strip('1/')
#idatcc.number_of_open_complaints = idatcc.number_of_open_complaints.str.strip('/00')
#idatcc.number_of_open_complaints.value_counts() #took away the 1s
idatcc.number_of_open_complaints = idatcc.number_of_open_complaints.str.strip('/00')
idatcc.number_of_open_complaints = idatcc.number_of_open_complaints.str.replace('1/', '')
idatcc.number_of_open_complaints.value_counts() #worked

idatcc.policy_type.value_counts() #fine

idatcc.vehicle_class.value_counts() #again redefine as luxury
idatcc['vehicle_class'].replace('Sports Car','Luxury',inplace=True)
idatcc['vehicle_class'].replace('Luxury Car','Luxury',inplace=True)
idatcc['vehicle_class'].replace('Luxury SUV','Luxury',inplace=True)
idatcc.vehicle_class.value_counts()

idatcc.total_claim_amount.value_counts() #fine

#idatcc.info() #clv and number copmplaints as objects now -> int:
idatcc['number_of_open_complaints'].fillna('0',inplace=True)
idatcc['number_of_open_complaints'] = idatcc['number_of_open_complaints'].apply(int)
#idatcc.info() worked

#idatcc['customer_lifetime_value'].unique() #there are %s
idatcc['customer_lifetime_value'] = idatcc['customer_lifetime_value'].str.strip('%')
idatcc['customer_lifetime_value'] = idatcc['customer_lifetime_value'].apply(float)#error message because nan to int doesnt work, flaot to int

/var/folders/72/b7zxktp96cz1n4tjk3mlbj5w0000gn/T/ipykernel_4174/2704677958.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  idatcc.state.replace('AZ', 'Arizona', inplace = True)
/var/folders/72/b7zxktp96cz1n4tjk3mlbj5w0000gn/T/ipykernel_4174/2704677958.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  idatcc.gender.replace('female', 'F', inplace = True)
/var/folders/72/b7zxktp96cz1n4tjk3mlbj5w0000gn/T/ipykernel_4174/2704677958.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  idatcc.gender.replace('Male', 'M', inplace = True)
/var/folders/72/b7zxktp96cz1n4tjk3mlbj5w0000gn/T/ipykernel_4174/2704677958.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  idatcc.education.replace('Bachelors', 'Bachelor', inplace = True)
/var/folders/72/b7zxktp96cz1n4tjk3mlbj5w0000gn/T/ipykernel_4174/2704677958.py:32: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  idatcc['vehicle_class'].replace('Sports Car','Luxury',inplace=True)
/var/folders/72/b7zxktp96cz1n4tjk3mlbj5w0000gn/T/ipykernel_4174/2704677958.py:33: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  idatcc['vehicle_class'].replace('Luxury Car','Luxury',inplace=True)
/var/folders/72/b7zxktp96cz1n4tjk3mlbj5w0000gn/T/ipykernel_4174/2704677958.py:34: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  idatcc['vehicle_class'].replace('Luxury SUV','Luxury',inplace=True)
/var/folders/72/b7zxktp96cz1n4tjk3mlbj5w0000gn/T/ipykernel_4174/2704677958.py:40: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  idatcc['number_of_open_complaints'].fillna('0',inplace=True)

In [125]:
#cleaning null values
idatcc.customer.nunique() #9056
idatcc.number_of_open_complaints.value_counts()

idatcc.duplicated(subset=['customer']).sum() #3017 duplicates in customer
idatcc.nunique()
idatcc.tail()
#idatcc[idatcc.customer == 'QD28391']
idatcc.customer.value_counts()
#idatcc[idatcc.customer == 'YB66933'] example duplicates where the earlier entry had less null values (in clv and number of complaints)
#idatcc[idatcc.customer == 'LY14355']
#idatcc[idatcc.customer == 'FX36546']

idatcc = idatcc.drop_duplicates(subset=['customer'])

idatcc.duplicated().sum()
idatcc.duplicated().any()

False

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [133]:
import pandas as pd

mark_idat = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv')
mark_idat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed:_0                     10910 non-null  int64
 1   customer                       10910 non-null  object
 2   state                          10910 non-null  object
 3   customer_lifetime_value        10910 non-null  float64
 4   response                       10910 non-null  object
 5   coverage                       10910 non-null  object
 6   education                      10910 non-null  object
 7   effective_to_date              10910 non-null  object
 8   employmentstatus               10910 non-null  object
 9   gender                         10910 non-null  object
 10  income                         10910 non-null  int64
 11  location_code                  10910 non-null  object
 12  marital_status                 10910 non-null  object
 13  monthly_premium_auto           10910 non-null  int64
 14  months_since_last_claim        10910 non-null  float64
 15  months_since_policy_inception  10910 non-null  int64
 16  number_of_open_complaints      10910 non-null  float64
 17  number_of_policies             10910 non-null  int64
 18  policy_type                    10910 non-null  object
 19  policy                         10910 non-null  object
 20  renew_offer_type               10910 non-null  object
 21  sales_channel                  10910 non-null  object
 22  total_claim_amount             10910 non-null  float64
 23  vehicle_class                  10910 non-null  object
 24  vehicle_size                   10910 non-null  object
 25  vehicle_type                   10910 non-null  object
 26  month                          10910 non-null  int64
dtypes: float64(4), int64(6), object(17)
memory usage: 2.2+ MB

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [145]:
mark_idat.pivot_table(index='sales_channel', values=['total_claim_amount'], aggfunc='sum').round(2)

               total_claim_amount
sales_channel
Agent                  1810226.82
Branch                 1301204.00
Call Center             926600.82
Web                     706600.04

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [153]:
mark_idat.pivot_table(index='education', columns='gender', values=['total_claim_amount'], aggfunc='sum').round()
#the higher the education the lesser customer lifetime value??

                     total_claim_amount
gender                                F         M
education
Bachelor                       705641.0  692422.0
College                        626214.0  731843.0
Doctor                          66500.0   68674.0
High School or Below           730844.0  808342.0
Master                         166206.0  147945.0

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here